<%- include('./components/gallhead') %>
<body class="flex flex-col h-screen w-screen bg-gray-300">
    <%- include('./components/navbar') %>
    <%- include('./components/gallnav') %>
        <div class="self-center flex mb-10 mt-32 bg-gradient-to-tl from-gray-300 via-gray-200 to-gray-100 h-5/6 w-2/6 shadow-lg rounded-lg">
            <form action="/" method="POST" encType="multipart/from-data" class="flex flex-col self-center">
                <h1 class="text-black font-semibold mt-10 ml-56">ImgPost</h1>
                <input id="Title" type="text" placeholder="Enter Title" class="ml-28 mt-5 h-10">
                <input id="Desc" type="text" placeholder="Enter Description" class="ml-28 mt-5 h-10">
                <input id="date" type="text" placeholder="Enter Date" class="ml-28 mt-5 h-10">
                <input name="SumbitFile" type="file" accept="image/*" class="ml-28 mt-5">
                <input type="submit" class="ml-56 mt-36 w-36 py-2 px-4 font-semibold rounded-lg shadow-md text-white bg-red-600 hover:bg-red-800">
            </form>
        </div>
    <%- include('./components/footer') %>
</body>
</html>